* {
    margin: 0;
    padding: 0;
}

.card {
    width: 336px;

    background-color: #FFFFFF;
    border: 1px black;
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
    border-radius: 10px;

    padding: 16px 16px 20px 16px;

    margin-top: 164px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card__text {
    max-width: fit-content;
    font-family: "Sora";

    margin-top: 16px;
}

.tag {
    background-color: #F2EAFD;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 40px;

    font-size: 0.625rem;
    font-weight: bold;
    color: #7C19EE;

    margin-bottom: 16px;
}

.card__title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #20293A;

    margin-bottom: 6px;
}

.card__description {
    font-size: 0.875rem;
    color: #394150;
}

.card__sign {
    font-size: 0.75rem;
    color: #20293A;
}

hr {
    background-color: #E5EAF0;
    border: none;
    height: 1px;

    margin-top: 20px;
    margin-bottom: 20px;

    margin-left: -16px;
    margin-right: -16px;
}